.carta{
    width: 25%;
    background: rgb(219, 158, 73);
   /* margin-top: 50px;*/
    margin: 10px 0px;

}

.carta-media{
    background: rgb(236, 149, 67);
}

.titulo-componente{
    background: rgb(227, 126, 32);
}