.BodyVentaGUI {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.menuventas {
  width: 12%;
  display: flex;
}

.boxProducto {
  flex: 38%;
  margin: 5px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedor-central {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
}

.subCuerpo {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.botonera {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.carta {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.tablaProducto {
  border-radius: 15px;
  flex: 45%;
  margin: 10px;
  height: fit-content;
  justify-content: center;
  background-color: rgb(252, 254, 255);
}

.totalVenta {
  display: flex;
  flex-direction: column;
}

.tablacontenedoraprincipal {
  display: flex;
  flex-grow: 2;
}

.tablaVenta {
  width: 25%;
}

.productosGUI {
  display: flex;
  flex-direction: column;
}

.productos {
  display: flex;
}

.cantidadProducto {
  width: 50px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
}

.formularioventas {
  flex: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(40deg, #a7856b, #c1997c, #ffc8a2);
  padding: 20px;
  border-radius: 15px;
}
.cantidadProducto:hover {
  background-color: rgba(163, 140, 107, 0.5);
}

.nombreProducto {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgb(243, 234, 234);
}

.precioProducto {
  text-align: center;
  font-weight: bold;
  border-top: 2px solid black;
  padding-top: 10px;
}

.Error {
  color: red;
  display: flex;
  max-width: 250px;
}

.elegirCliente {
  margin-top: 100px;
  margin-left: 30px;
  width: 400px;
}

.totalVenta {
  margin-top: 100px;
  margin-left: 30px;
}

.total {
  font-size: x-large;
  border: none;
  border-radius: 20px;
  width: 400px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: rgba(206, 205, 205, 0.5);
  padding-left: 10px;
}

.btnRegistrarVenta {
  width: 50%;
  height: 40px;
  margin: 30px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  border: 1px solid;
  font-size: medium;
}

.btnRegistrarVenta:hover {
  border: 1px solid rgb(200, 188, 170);
  background-color: rgba(182, 164, 151, 0.7);
  box-shadow: none;
  transform: translate(5px);
  transition: 0.3s;
  color: aliceblue;
}

@media (max-width: 800px) {
  .BodyVentaGUI {
    flex-direction: column;
  }
  .contenedor-central {
    flex-direction: column;
  }

  .menuventas {
    width: 100%;
  }
  .boxProducto {
    width: 100%;
  }
  .tablaProducto {
    width: 95%;
  }
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
