/* #Menu.open{
    transform: translate(0%);
} */
*{
    margin: 0;
    padding: 0;
}
.navegador{
    background-color: #E6922E;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
.nav-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #b60000;
    padding: 20px 10px;
    user-select: none;
}
.nav-logo img{
    width: 130px;
    height: 50px;
}
.Menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.ul-Menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.ul-Menu li{
    list-style: none;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
}
.ul-Menu li img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.ul-Menu li a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    padding: 22px 5px;
    width: 100%;
}
.ul-Menu li a:hover{
    transform: translate(17px);
    transition: 0.6s;
}

.ul-Menu li:hover{
    background-color: brown;
    transition: 0.6s;
    cursor: pointer;
}




.BodyMenu{
    display: flex;
    justify-content: space-between;
}
.Cuerpo{
    width: 100%;
    display: flex;

}
.formularioCliente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  background-color: rgb(250, 191, 142);
  border-radius: 40px;
  margin: 10px;
  padding: 10px;
}

.Tabla-contenedora {
  background-color: rgb(250, 183, 138);
  font-size: 10px;
  
}

.Tabla-contenedora2 {
  display: flex;
}

.Tabla-contenedora .Cell {
  font-size: 18px;
  width: 30px;
}

.partes-formu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 20px;
}

.partes-formu > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.partes-formu .partes-p {
  font-size: 15x;
  margin-bottom: 10px;
}

.mensajesError {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-size: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.8);
}
.botonRegistrar {
  width: 40%;
  padding: 10px;
  border: none;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  border: 1px solid;
}
.botonRegistrar:hover {
  border: 1px solid brown;
  transition: 0.1s;
  background-color: rgba(210, 105, 30,0.7);
  box-shadow: none;
  transform: translate(5px);
  transition: 0.1s;
}
