#exampleModal{
    position:fixed;
    left:auto;
    

}

.modal-content{

    background: rgba(185, 157, 125);
    width: 300px;
    border-radius: 10px;
    margin-left: 50%;
    padding: 10px;
    border: solid 2px;


}

.modal-body{
    font-size: 15px;
}
.modal-header{
    font-size: larger;
    
}

#botonaceptar{
    margin-left: 130px;
    background-color: rgba(82, 81, 79,0.5);
    border-radius: 20px;
    padding: 5px;
    color: white;
}

#botoncancelar{
    background-color: rgba(82, 81, 79,0.5);
    border-radius: 20px;
    margin-left: 20px;
    padding: 5px;
    color: white;
    font-weight: bolder;

}
#botonaceptar:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#botoncancelar:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

p{
    font-weight: bolder;
}