html {
 height: 110%;
  background-image: url("/src/images/fondo1.jpg");
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 161, 161, 0.5);
  z-index: -1;
}

.principalcarta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 40px;

}

.cartas-unidas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  max-width: 1200px;
}

.cartas-unidas > div {
  flex: 1 1 30%;
  margin: 10px;
  max-width: 300px;
}

@media (max-width: 768px) {
  .cartas-unidas {
    justify-content: center;
  }

  .cartas-unidas > div {
    flex: 1 1 45%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .cartas-unidas > div {
    flex: 1 1 100%;
  }
}
