* {
  margin: 0px;
  padding: 0px;
}
#root {
  height: 100%;
}

.bodystock {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
<<<<<<< HEAD
.Bodycentral {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.Componente {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.inputStock {
  width: 30%;
}
.H1-Componente {
  margin: 10px 0px;
  color: #ffff;
  user-select: none;
}

@media (max-width: 800px) {
  .Bodycentral {
    flex-direction: column;
  }

  .Componente {
    width: 100%;
  }
}
.buscador {
  display: flex;
  background: #f4f2f1;
  border-radius: 10px;
  width: 70%;
  align-self: baseline;
}
=======
.Bodycentral{
    display: flex;
    width: 100%;
    height: 100%;
}

.Componente{
    width: 55%;
    display: flex;
    margin: 10px auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Form-Stock{
    width: 30%;
    margin: 10px auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 800px) {
    .Bodycentral {
      flex-direction: column;
    }
    .Componente{width: 100%;}
}  
>>>>>>> e72bdf0cfa84773e8ee7739e853bbc1638c14bed
/*-----------------------------------TABLA DE STOCK---------------------------------------------*/
